In [0]:
import pandas as pd
import numpy as np

URI_TREINO = "https://github.com/tgcsantos/quaretenadados/blob/master/DADOS_TREINO.csv?raw=true"
URI_TESTE = "https://github.com/tgcsantos/quaretenadados/raw/master/DADOS_TESTE.csv"
URI_DESAFIOQT = "https://github.com/tgcsantos/quaretenadados/raw/master/DESAFIOQT.csv"

dados_treino = pd.read_csv(URI_TREINO)
dados_teste = pd.read_csv(URI_TESTE)
dados_desafioqt = pd.read_csv(URI_DESAFIOQT)

erro_treino = "Erro ao carregar dados de treino"
erro_teste = "Erro ao carregar dados de teste"
erro_desafioqt = "Erro ao carregar dados de submissão"

assert dados_treino.shape == (150000, 5), erro_treino
assert dados_teste.shape == (20000, 5), erro_teste
assert dados_desafioqt.shape == (10000, 5), erro_desafioqt

In [0]:
coluna_label = 'NU_NOTA_LC'
coluna_features = ['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_MT', 'NU_NOTA_REDACAO']

X_treino = dados_treino[coluna_features].to_numpy()
Y_treino = dados_treino[coluna_label].to_numpy()
X_teste = dados_teste[coluna_features].to_numpy()
Y_teste = dados_teste[coluna_label].to_numpy()

In [36]:
#Exemplo de classificação com Dummy
from sklearn.dummy import DummyRegressor
from sklearn.metrics import mean_squared_error

modelo_dummy = DummyRegressor()
modelo_dummy.fit(X_treino, Y_treino)
dummy_predicoes = modelo_dummy.predict(X_teste)

avaliacao_dummy = mean_squared_error(Y_teste, dummy_predicoes)

print(f"Minha avaliação nos dados de teste foi de {avaliacao_dummy}")

Minha avaliação nos dados de teste foi de 5219.286870186777

In [0]:
#aplicando o pre-processamento
from sklearn.preprocessing import RobustScaler
scaler = RobustScaler()
scaler.fit(X_treino)  # Don't cheat - fit only on training data
X_treino = scaler.transform(X_treino)
X_teste = scaler.transform(X_teste)  # apply same transformation to test data

In [38]:
#aplicando o modelo de neural_network
#valor a bater 2044.2661201991486
from sklearn.neural_network import MLPRegressor

modelo = MLPRegressor(learning_rate='adaptive', 
                      random_state=0, 
                      solver='sgd',
                      alpha=0.000001)
modelo.fit(X_treino, Y_treino)
predicoes_modelo= modelo.predict(X_teste)
avaliacao = mean_squared_error(Y_teste, predicoes_modelo)
print(f"Minha avaliação nos dados de teste foi de {avaliacao}")
print(modelo.score(X_teste, Y_teste) * 100)
print(predicoes_modelo[:5].round(1))
print(Y_teste[:5])

Minha avaliação nos dados de teste foi de 2043.1717875163247
60.85126727402537
[528.3 457.9 646.2 512.1 549.2]
[550.  406.3 652.3 469.1 580.5]

In [0]:
from google.colab import files

MODELO = modelo
X_desafioqt = dados_desafioqt[coluna_features].to_numpy()
X_desafioqt = scaler.transform(X_desafioqt)
predicao_desafioqt = MODELO.predict(X_desafioqt)

In [0]:

desafio_df = pd.DataFrame(dados_desafioqt.ID)
desafio_df[coluna_label] = predicao_desafioqt

#NÃO TROCAR O NOME DO ARQUIVO DE SAÍDA (PREDICAO_DESAFIO)
desafio_df.to_csv('PREDICAO_DESAFIOQT_final.csv', index=False) 
files.download('PREDICAO_DESAFIOQT_final.csv')

In [41]:

dados= pd.read_csv('/content/PREDICAO_DESAFIOQT_final.csv')
dados.head()

   ID  NU_NOTA_LC
0   0  502.993914
1   1  584.184501
2   2  515.279429
3   3  463.562315
4   4  521.820935

   ID  NU_NOTA_LC
0   0  528.773482
1   1  528.773482
2   2  528.773482
3   3  528.773482
4   4  528.773482
5   5  528.773482
6   6  528.773482
7   7  528.773482
8   8  528.773482
9   9  528.773482